body {
  font-family: Georgia, "Times New Roman", Times, serif;
  margin: 0;
  position: relative;
  background-color: black;
}
/* canvas {
  width: 100vw;
  height: 100vh;
} */
#scoremenu {
  position: absolute;
  top: 0;
  left: 0;
  color: rgb(111, 206, 170);
  font-weight: bold;
  user-select: none;
  font-size: 1.5rem;
}
#popup {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  background-color: rgba(111, 206, 170, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  text-align: center;
  border-radius: 15px;
}
.openGuide,
.restartBtn {
  background-color: white;
  margin-bottom: 20px;
  font-size: 1.2rem;
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  border: none;
  cursor: pointer;
}
.openGuide {
  background-color: aquamarine;
}
#final-result {
  color: rgb(97, 0, 0);
}
#waves {
  position: absolute;
  top: 1%;
  right: 1%;
}
.wave {
  width: 30px;
  padding: 1px;
}
#guide {
  position: absolute;
  box-sizing: border-box;
  padding: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* display: flex; */
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 600px;
  height: 400px;
}
#controlers-pic {
  /* position: absolute; */
  position: relative;
  left: 100px;
  top: 100px;
}
#ok {
  position: absolute;
  background-color: aquamarine;
  bottom: 1%;
  right: 1%;
  width: 90px;
  height: 30px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}
